@model IEnumerable<TrashCollector.Models.Customer>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    ViewBag.Title = "Index";
}
<style>
    #map {
        height: 100%;
    }
</style>

<h1>All Customer Pickups</h1>

<form asp-action="Index">

    <label for="filteredDay" class="form-control">Choose Day to Filter By:</label>
    <select id="filteredDay" name="filteredDay" asp-items="@Html.GetEnumSelectList<DayOfWeek>()"></select>
    <input type="submit" class="btn btn-primary" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Map" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a> 
                </td>
                <td>
                    @if (item.OneTimePickup != null && DateTime.Now.Date == item.OneTimePickup)
                    {
                        <div class="alert alert-dismissible alert-warning">
                            <h4 class="alert-heading">ATTENTION</h4>
                            <p class="mb-0">@item.Name's special request day is today!</p>
                            <a class="btn btn-warning" asp-action="ChargeCustomer" asp-route-Id="@item.Id">Confirm Pickup</a>
                        </div>
                    }
                    else if (DateTime.Now.DayOfWeek != item.PickupDay)
                    {
                        <button type="button" class="btn btn-info disabled">Not Current Day</button>
                    }
                    else if (item.TrashPickedUp == true)
                    {
                        if (DateTime.Now - item.PickupTime >= TimeSpan.FromHours(24))
                        {
                            <a class="btn btn-info" asp-action="ChargeCustomer" asp-route-Id="@item.Id">Confirm Pickup</a>
                        }
                        else
                        {
                            <button type="button" class="btn btn-info disabled">Order Picked Up</button>
                        }
                    }
                    else
                    {
                        <a class="btn btn-info" asp-action="ChargeCustomer" asp-route-Id="@item.Id">Confirm Pickup</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="height:500px;">
    <div id="map"></div>
</div>

<script>
    var map;
    var geocoder;

    function initialize() {
        geocoder = new google.maps.Geocoder();

        var latlng = new google.maps.LatLng(@ViewBag.Lat, @ViewBag.Lng);
        var mapOptions = {
            zoom: 6,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        @foreach(var item in Model)
        {
            string address = $"{item.Address.AddressLine1} {item.Address.City} {item.Address.AbbreviatedState}";
            @: codeAddress('@address');
        }
    }

    function codeAddress(address) {
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
        
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa7098zCQbeaLZJer7mD4_wIDPYjsBd0Y&callback=initialize"
        async defer></script>