@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

    <div class="row">
        <div class="col-md-6">
            <div style="background-color: grey; height:200px; width:400px">
                <h2>Hello, @Model.Name</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div style="background-color:grey; height:200px; width:400px">
                <h2>Your current balance is: $@Model.Balance</h2>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
            <div class="col-md-6">
                <div style="background-color:grey; width:300px; color:black; padding:20px;">
                    <table style="width:300px;">
                        <tr style="padding:15px;">
                            <td>
                                Pickup Day
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.PickupDay)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 15px">
                                Address
                            </td>
                            <td style="padding: 15px">
                                @Html.DisplayFor(model => model.Address.AddressLine1)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 15px">
                                City
                            </td>
                            <td style="padding: 15px">
                                @Html.DisplayFor(model => model.Address.City)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 15px">
                                State
                            </td>
                            <td style="padding: 15px">
                                @Html.DisplayFor(model => model.Address.AbbreviatedState)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 15px">
                                Zipcode
                            </td>
                            <td style="padding: 15px">
                                @Html.DisplayFor(model => model.Address.Zipcode)
                            </td>
                        </tr>
                    </table>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Info</a>
                </div>
            </div>
            <div style="background-color:grey; width:300px;" class="col-md-6">
                @if (Model.OneTimePickup == null)
                {
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>Each customer is allowed one special request pickup per month. 
                        <a class="alert-link" asp-action="Date" asp-route-id="@Model.Id">You can pick one here.</a>
                    </p>
                </div>
                }

            </div>
    </div>
